h1{
    border-bottom:3px solid burlywood;
    padding:20px;
    margin-bottom:0px;
}
ol{
    border-right:3px  solid cadetblue;
    width: 100px;
    margin-top:0px;
    padding-top:25px;
}
#container{
    display:grid;
    grid-template-columns: 150px 1fr;
    
}
#li{
    padding-left:30px;
}